<?xml version="1.0" encoding="UTF-8"?>

<widget id="A6065562177903" version="0.0.1"> 
  <name>手机版机房</name>  
  <description>创建与2017年11月7日</description>  
  <author email="1398553689@qq.com" href="http://www.apicloud.com">fk245</author>  
  <content src="IP.html"/>  
  <preference name="appBackground" value="rgba(0,0,0,0)"/>  
  <preference name="windowBackground" value="rgba(0,0,0,0)"/>  
  <preference name="frameBackgroundColor" value="rgba(0,0,0,0)"/>  
  <preference name="autoLaunch" value="true"/>  
  <preference name="autoUpdate" value="true"/>  
  <preference name="smartUpdate" value="false"/>  
  <preference name="debug" value="true"/>  
  <preference name="statusBarAppearance" value="true"/>  
  <permission name="location"/>  
  <permission name="internet"/>  
  <access origin="*"/> 
</widget>
